<!DOCTYPE html>
<html lang="<%- req.getLocale() %>" dir="<%- rtl %>" >
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="9VV37JlFo9nMYNnmxw_iMZ0uEeONLE59qc7m4rzDUQ4" />
    <link rel="shortcut icon" href="/static/favicon.png">
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#async=1&pubid=ra-550c037118e0ae97"></script>
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-66367290-1', 'auto');
    ga('send', 'pageview');

    </script>

    <% if (typeof(publicevent)!='undefined') { %>
    <title><%- publicevent.name %></title>
    <meta property="og:title" content="<%- publicevent.name %>" />
    <meta property="og:description" content="<%- publicevent.datetext %>" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="<%- publicevent.iconbackground %>" />
    <meta property="og:url" content="<%- sails.config.master_url %>/s/<%- publicevent.offlinecode %>" />
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@BootleggerTV">
    <meta name="twitter:title" content="<%- publicevent.name %>">
    <meta name="twitter:description" content="<%- publicevent.datetext %>">
    <meta name="twitter:image" content="<%- publicevent.iconbackground %>">
    <meta property="author" content="<%- publicevent.user.profile.displayName %>">
    <% } else { %>
    <title>Bootlegger <%- (sails.config.beta)?'BETA':'' %></title>
    <meta name="description" content="Bootlegger connects fans together in realtime to act as a coordinated camera crew.
It produces high quality, content rich footage with no expense">
    <meta name="author" content="Bootlegger.tv">
    <% } %>
    
    <script>
    var apikey = '<%- (typeof(apikey)!='undefined')?apikey:'' %>';
    </script>

    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<!--<link rel="stylesheet" href="/static/min/production.css">-->
<!--SCRIPTS-->
<script src="/js/dependencies/1sails.io.js"></script>
<script src="/js/dependencies/2jquery-2.0.3.min.js"></script>
<script src="/js/dependencies/3angular.min.js"></script>
<script src="/js/1app.js"></script>
<script src="/js/admin_controller.js"></script>
<script src="/js/angular-animate.min.js"></script>
<script src="/js/angular-bootstrap-switch.js"></script>
<script src="/js/angular-dragdrop.js"></script>
<script src="/js/angular-google-maps.min.js"></script>
<script src="/js/angular-knob.js"></script>
<script src="/js/angular-loading-spinner.js"></script>
<script src="/js/angular-sanitize.min.js"></script>
<script src="/js/angular-spinner.min.js"></script>
<script src="/js/angular-ui-sortable.js"></script>
<script src="/js/api_controller.js"></script>
<script src="/js/bootstrap-datepicker.js"></script>
<script src="/js/bootstrap-switch.js"></script>
<script src="/js/bootstrap-tokenfield.min.js"></script>
<script src="/js/bootstrap-wysiwyg.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/bootstro.min.js"></script>
<script src="/js/checklist-model.js"></script>
<script src="/js/commission_controller.js"></script>
<script src="/js/controller_api.js"></script>
<script src="/js/dashboard_controller.js"></script>
<script src="/js/dirPagination.js"></script>
<script src="/js/export_controller.js"></script>
<script src="/js/handlebars-v1.1.2.js"></script>
<script src="/js/holder.js"></script>
<script src="/js/jasny-bootstrap.min.js"></script>
<script src="/js/jquery-ui.js"></script>
<script src="/js/jquery-ui.min.js"></script>
<script src="/js/jquery.hotkeys.js"></script>
<script src="/js/jquery.knob.js"></script>
<script src="/js/lodash.min.js"></script>
<script src="/js/log_controller.js"></script>
<script src="/js/modernizr.js"></script>
<script src="/js/moment.js"></script>
<script src="/js/ngStorage.min.js"></script>
<script src="/js/ngsails.io.js"></script>
<script src="/js/rzslider.min.js"></script>
<script src="/js/shoot_controller.js"></script>
<script src="/js/skrollr.min.js"></script>
<script src="/js/slider.js"></script>
<script src="/js/spin.min.js"></script>
<script src="/js/ui-bootstrap-tpls-0.13.0.min.js"></script>
<script src="/js/ui-grid.min.js"></script>
<script src="/js/ui-utils.js"></script>
<script src="/js/vg-buffering.min.js"></script>
<script src="/js/vg-controls.min.js"></script>
<script src="/js/videogular.min.js"></script>
<script src="/js/watch_controller.js"></script>
<!--SCRIPTS END-->
<!--STYLES-->
<link rel="stylesheet" href="/styles/bootstrap-switch.css">
<link rel="stylesheet" href="/styles/bootstrap-tokenfield.css">
<link rel="stylesheet" href="/styles/bootstro.css">
<link rel="stylesheet" href="/styles/carousel.css">
<link rel="stylesheet" href="/styles/datepicker.css">
<link rel="stylesheet" href="/styles/ekko-lightbox.min.css">
<link rel="stylesheet" href="/styles/flags.css">
<link rel="stylesheet" href="/styles/font-awesome.css">
<link rel="stylesheet" href="/styles/importer.css">
<link rel="stylesheet" href="/styles/jasny-bootstrap.min.css">
<link rel="stylesheet" href="/styles/jquery-ui.css">
<link rel="stylesheet" href="/styles/rzslider.min.css">
<link rel="stylesheet" href="/styles/ui-grid.min.css">
<link rel="stylesheet" href="/styles/videogular.css">
<link rel="stylesheet" href="/styles/x_app.css">
<!--STYLES END-->

    <script>
    <% if (user) { %>
    var localcode = '<%=user.localcode%>';
    <% } else { %>
      var localcode = '';
      <%}%>
    </script>

  </head>

  <body ng-app="bootleggerApp">
    <% if (typeof(sails.config.maintenance)!='undefined') { %>
        <div style="position:absolute;top:0;width:100%;z-index:1000;height:50px;border-radius:0" class="alert alert-warning text-center"><i class="fa fa-warning"></i> <%- sails.config.maintenance %></div>
    <% } %>
    <div class="container" <% if (typeof(sails.config.maintenance)!='undefined') { %>style="margin-top:50px"<%}%>>

      <div class="modal fade" id="nameModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" style="margin:auto auto;margin-top:10%;" role="document">
            <form action="/auth/changename" method="POST">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel"><%- __('Edit Name') %></h4>
                </div>
                <div class="modal-body">
                  <p><%- __('Change the name that will be used on credits for shoots you participate in.') %></p>
                  <input type="text" name="name" class="form-control" placeholder="Dave Bootlegger" value="<%- (user)?user.profile.displayName:'' %>" required min="10"/>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <input type="submit" class="btn btn-primary" value="Update My Name" />
                </div>
              </div>
            </form>
          </div>
        </div>
        
        <div class="modal fade" id="feedbackModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" style="margin:auto auto;margin-top:10%;" role="document">
              <div class="modal-content">
                <div class="modal-body" style="padding:0">
                  <iframe src="https://docs.google.com/forms/d/1CQeW6MT3XmK_O8GUhNomax9EGJ6WNaqylt6qwxCK9BI/viewform?embedded=true" style="width:100%;height:100%;min-height:550px;" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
                </div>
              </div>
          </div>
        </div>

      <div class="header row">
          
          <div class="col-sm-2 col-xs-6" style="padding-left:0">
                <% if (!user) { %>
                    <img class="visible-xs" src="/images/logo_mobile.svg" style="height:30px;" />
                <% } %>
                <% if (user) { %>
                    <% if(event.name != "") { %>
                        <h3 class="visible-xs" style="margin:0;white-space: nowrap;text-overflow: ellipsis;overflow:hidden;"><%= event.name %></h3>
                    <% } else { %>
                        <img src="/images/logo_mobile.svg" style="height:30px;" class="visible-xs" />
                    <%  }
                } %>
            </div>
          
          <% if (user) { %>
          <div class="col-sm-4 col-sm-push-6 text-right col-xs-6" style="padding-right: 0;" ng-controller="myprofile">
            <img style="border-radius:15px;width:30px;height:30px;margin-right:2px;" src="<%= user.profile._json.picture %>" />
            <a  href="#" class="super hidden-xs hidden-sm" data-toggle="modal" data-target="#nameModal"><%= user.profile.displayName %></a>
            <a href="/auth/logout"><i style=" vertical-align: middle;margin-left:2px;" class="fa fa-2x fa-sign-out"></i></a>
            </div>
          <% } else { %>
            <div class="col-sm-4 col-sm-push-6 text-right col-xs-6" style="padding-right: 0;">
           
            </div>
          <% } %>

          <div class="clearfix visible-xs-block" style="height:42px"></div>

          <div class="mainmenunew col-sm-6 col-xs-12 text-center col-sm-pull-3">
              <a href="/commission/new">New Shoot</a>
              <a href="/dashboard">My Shoots</a>
              <a href="/watch">My Videos</a>
          </div>
          
        </div>

        <div class="hidden-xs row">
            <div class="col-xs-12 text-right">
            <% if (typeof showhelp == 'undefined') { %>
                <a class="hidden" href="#" class="text-muted" onclick="bootstro.start('.bootstro',{stopOnBackdropClick:false});"><i class="fa fa-question-circle"></i> How do I use this page?</a>
            <% } %>

            <% if (user && _.contains(sails.config.admin_email,user.profile.emails[0].value)) { %>
            <span ng-controller="adminlists">
            <span class="text-small text-warning">{{edits['current-jobs-ready']}} jobs pending | </span>
            <span class="text-muted text-small">Version <span class="text-info"><%- sails.config.git_version.branch %> branch</span> from <span class="text-info"><%- moment(sails.config.git_version.date).calendar() %></span> <em><%- sails.config.git_version.message %></em></span> 
            <input type="text" ng-model="shootsearch"  typeahead-on-select="searchEvent($item, $model, $label)" style="display:inline-block;width:200px;padding: 0;height: inherit;position:relative;" typeahead-loading="loadingShoots" placeholder="search shoots" typeahead="n.name for n in getShoot($viewValue) | filter:$viewValue | limitTo:8" class="form-control input-sm">
            <i ng-show="loadingShoots" class="fa fa-spin fa-spinner"></i>

            <a class="text-muted" href="/event/admin"><i class="fa fa-cog"></i> <%- __('Administration') %></a>
            </span>
            <%  } else { %>
            <span>
           &nbsp;
            </span>
            <% } %>
            </div>
            </div>
 <!--</div>-->
    <div class="clear:both"></div>
      <% if (user && typeof(viewonly)=='undefined') { %>
      <div style="margin-bottom:10px;" class="container text-center hidden-xs">
        <% if(event.name != "") { %>
        <h1 class="thetitle" style="clear:both">
            <div class="text-primary" style="display:inline"><% if (typeof(pagetitle)!='undefined'){ %><%- pagetitle %><% }%></div>
            <span><%= event.name %></span> <a  style="font-size:10pt;padding-bottom:10px;vertical-align:middle" href="#" onclick="edittitle();"><sup><i data-toggle="tooltip" title="Change Shoot Title" class="glyphicon glyphicon-pencil text-muted"></i></sup></a>
        </h1>
        <% } %>
      </div>
      <% } %>

      
      </div> <!-- /container -->
<% if (event.name && typeof(viewonly)=='undefined') { %>
<div class="container">
    <div class="progressmenu">
        <a data-toggle="tooltip" data-delay="500" title="prepare for your shoot" class="col-sm-offset-2 col-xs-3 col-sm-2 mainmenu text-muted <% if (page=='event') { %>active<%}%>" href="/event/view/<%- event.id %>">Settings
        </a>
        <a data-toggle="tooltip" data-delay="500" title="decide what to shoot" class="col-xs-3 col-sm-2 mainmenu text-muted <% if (page=='commission') { %>active<%}%>" href="/commission/<%- event.id %>">Adjust
        </a>
        <a data-toggle="tooltip" data-delay="500" title="real-time view of your footage" class="col-xs-3 col-sm-2 mainmenu text-muted <% if (page=='shoot') { %>active<%}%>" href="/shoot/<%- event.id %>">Review
        </a>
        <a data-toggle="tooltip" data-delay="500" title="download your video for editing" class="col-xs-3 col-sm-2 mainmenu text-muted <% if (page=='post') { %>active<%}%>" href="/post/<%- event.id %>">Export</a>
        
    </div>
</div>
<%}%>

      <div class="container" style="padding-top:10px;">
        <% if (event.name) { %>
          <a href="bootlegger://connect/?eventid=<%- event.id %>" class="visible-xs-block btn btn-lg btn-success" style="margin-bottom:20px">
            <i class="fa fa-mobile"></i> Launch App to Start Filming
          </a>
          <%}%>
        <% if(flash && flash.msg) { %>
          <script>var flashmsg=true;</script>
        <ul class="myalert alert alert-info">
          
          <li><i class="fa fa-info"></i> <%- flash.msg %></li>
        </ul>
        <br>
        <% } %>

        <% if(flash && flash.err) { %>
          <script>var flashmsg=true;</script>
          <% if (flash.err instanceof Array) { %>
          <ul class="myalert alert alert-danger">
          <% Object.keys(flash.err).forEach(function(error){ %>
            <script>
              $(function()
              {
                $('[name=<%= flash.err[error].name %>]').tooltip(
                  {
                    trigger:'manual',
                    title:'<%= flash.err[error].msg %>'
                  });
                $('[name=<%= flash.err[error].name %>]').tooltip('show');
              });
            </script>
            <li><%- flash.err[error].msg %></li>
          <% }); %>
          </ul>
          <% } else { %>
          <div class="myalert alert alert-danger"><%- flash.err.msg %></div>
          <% }} %>

<div class="row">



<div class="col-md-12">

  <% if (notonthisserver) { %>
            <div class="jumbotron">
    <h1>Out for Lunch!</h1>
    <p><div class="">This event is not hosted on this server, try connecting to the correct server (you should have been redirected)</div></p>
  </div>

  <% } else { %>
  <div id="mainbody">
<%- body %>
  </div>
    <%}%>
  </div>
    </div>
</div>

 <div class="container">
      <!-- Site footer -->
      <div class="footer text-muted" style="min-height:100%;text-align:center;">
        <!--<a href="#lang" data-toggle="popover" data-placement="top" data-html="true" data-content="<ul class='locale-selector'><% _.each(_.without(sails.config.i18n.locales,req.getLocale()),function(l){ %><li> <a href='/auth/locale/<%- l %>'><%- __(l) %> <div style='display:inline-block;float:right;' class='flag flag-<%- l %>' /></div> </a> </li><% }) %></ul>" data-title="<%- __('Select Language') %>">
          <div style="display:inline-block;float:left;" class="flag flag-<%- req.getLocale() %>" /></div>
        </a>-->
        <a class="text-muted" href="/privacy">Privacy</a> | <a class="text-muted" href="/terms">Terms</a> | <a class="text-muted" href="/howtobootleg">Help</a> | <a class="text-muted" href="/platform">Platform</a>  |  <a class="text-muted" href="/getapp">Download App</a> | <span>&copy; Bootlegger <%- new Date().getFullYear() %></span>
      </div>
</div>
    <% if (event.name) { %>
    <script>
    var mastereventname = "<%- encodeURIComponent(event.name) %>";
    var mastereventid = "<%- event.id %>";
    var masteruserid = "<%- user.id %>";
    </script>
    <% } %>
    
  </body>
</html>
