<!DOCTYPE html>
<html lang="<%- req.getLocale() %>" dir="<%- rtl %>">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="<%- __('tagline') %>">
    <meta name="author" content="Bootlegger">
    <link rel="shortcut icon" href="/static/favicon.png">
    <title>Bootlegger</title>

    <!-- Bootstrap Core CSS -->
    <!--<link href="/static/styles-frontpage/bootstrap.min.css" rel="stylesheet">-->
    
    <link href="/static/styles-frontpage/frontpage.min.css" rel="stylesheet">

    <!-- Font Awesome CDN -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <!-- JQuery Core JS -->
    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>

    <!-- Custom Fonts -->
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    
    <link rel="stylesheet" href="/static/styles-frontpage/odometer-theme-minimal.css">
    <link rel="stylesheet" href="/styles/flags.css">
    
    <style>
        .odometer
        {
            color:#0088aa;
            font-size:30pt;
        }
        
        #mins
        {
            min-width:125px;
        }
        
        #users
        {
            min-width:70px;
        }
        
        #media
        {
            min-width:105px;
        }
        
        .odo
        {
            font-size:20pt;
         text-align: center;
         color:silver;
         margin-left:5%;
         margin-right:5%;
         font-weight: 300;
         visibility:hidden;
        }
    </style>

    
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    
    ga('create', 'UA-66367290-1', 'auto');
    ga('send', 'pageview');
    </script>
    
    <!-- Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -->
    <script type="text/javascript">
        window.cookieconsent_options = {"message":"This website uses cookies to keep you logged into Bootlegger, and to help us improve your experience.","dismiss":"Got it!","learnMore":"More info","link":"https://bootlegger.tv/privacy","theme":"dark-bottom"};
    </script>
    
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.9/cookieconsent.min.js"></script>
    <!-- End Cookie Consent plugin -->
    
     <script type="text/javascript" src="/static/js-extra/frontpage.min.js"></script>
     <script type="text/javascript" src="/static/js-extra/odometer.min.js"></script>
     <script>
         window.odometerOptions = {
            format: '(,ddd).dd', // Change how digit groups are formatted, and how many digits are shown after the decimal point
            };
         $(function(){
            //odometer:
            var currentdata;
            $.get('/auth/totalstatus').success(function(data){
                $('#mins').html(Math.round(data.mins/60));
                $('#media').html(data.media);
                $('#users').html(data.users);
                currentdata = data;
                //$('.odo').css('visibility','inherit');
               $('.odo').css('visibility','visible').hide().fadeIn('slow');
                setInterval(function(){
                    currentdata.mins = currentdata.mins + 0.2;
                    $('#mins').html(Math.round(currentdata.mins/60));
                },5000);
            });
         });
     </script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

<style>
.covervid-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:550px;
}
</style>
</head>

<body>
    <% if (sails.config.maintenance) { %>
        <div style="position:fixed;width:100%;z-index:1000;height:50px;border-radius:0" class="alert alert-warning text-center"><i class="fa fa-warning"></i> <%- sails.config.maintenance %></div>
    <% } %>
    
    <% if (flash && flash.error) { %>
        <div style="position:fixed;width:100%;z-index:1000;height:50px;border-radius:0" class="alert alert-danger text-center"><i class="fa fa-warning"></i> <%- flash.error %></div>
    <% } %>
    
    <div class="covervid-wrapper" >
        <video class="covervid-video hidden-xs" style="display:none;" autoplay muted loop>
             <source src="https://bootleggerlive.s3.amazonaws.com/static/BootleggerHighlights.webm" type="video/webm">
            <source src="https://bootleggerlive.s3.amazonaws.com/static/BootleggerHighlights.mp4" type="video/mp4">
        </video>
    </div>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" <% if (sails.config.maintenance) { %>style="margin-top:50px"<%}%> <% if (flash && flash.error) { %>style="margin-top:50px"<%}%>>
        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" id="logo-link" class="navbar-brand hidden-sm hidden-md" ><img id="logo" src="/images/logo-black.png" /></a>
            </div>

            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#" data-section="#timeline-container"><%- __('How it Works') %></a>
                    </li>
                    <li>
                        <a href="#" data-section="#recent-shoots"><%- __('Recent Shoots') %></a>
                    </li>
                    <li>
                        <a href="mailto:info@bootlegger.tv"><%- __('Contact') %></a>
                    </li>
                    <li class="google-oauth">
                        <a href="/auth/google">
                            <img src="/images/google-oauth.png" />
                        </a>
                    </li>
                    <li class="google-oauth">
                        <a href="/auth/facebook">
                            <img src="/images/facebook-oauth.png" />
                        </a>
                    </li>
                    <!-- <li class="google-oauth">
                        <a href="/auth/twitter">
                            <img src="/images/twitter-oauth.png" />
                        </a>
                    </li> -->
                </ul>
            </div>
        </div>
    </nav>

    <header class="main-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div id="hero-text" style="padding-bottom:99px;padding-top:165px;">
                        
                        <img id="icon-logo" src="/images/icon-black.png" />
                        
                        <h1 id="tagline"><%- __('Your Community Film Crew') %></h1>
                        <p><%- __('hometag') %></p>
                    </div>
                    

                </div>
            </div>
        </div>
    </header>

     <h1 class="odo" style="margin-top:30px;">
                            <div><span class="odometer" id="mins"></span> <%- __('mins of video in') %> <span class="odometer" id="media"></span> <%- __('contributions from') %> <span class="odometer" id="users"></span> <%- __('people have been commissioned') %></div>
                        </h1>

    <div style="text-align:center;margin-bottom:30px;margin-top:30px;">
        <a style="margin-right:10px;color:black;border-color:black;" class="animated pulse visible-xs-block visible-sm-inline visible-md-inline visible-lg-inline" id="app-download-button" href="https://play.google.com/store/apps/details?id=uk.ac.ncl.di.bootlegger">
            <i class="fa fa-android" style="display:inline-block;transform:none;"></i> <%- __('Download for Android') %>
        </a>
                       
        <img src="/images/androiddemo.png" style="height:400px;margin-right:20px;"/>
        <img src="/images/iosdemo.png" style="height:400px;margin-left:20px;"/>
        <a class="animated pulse text-muted visible-xs-block visible-sm-inline visible-md-inline visible-lg-inline" id="app-download-button" href="https://itunes.apple.com/us/app/bootlegger/id1053074626?ls=1&mt=8" style="margin:10px;color:black;border-color:black;">
            <i class="fa fa-apple" style="display:inline-block;transform:none;"></i> <%- __('Download for iOS') %>
        </a>
        </div>

    <div id="highlights" style="margin-top:10px;">

        <div class="container">

            <div class="col-sm-4 highlights-column">
                <img class="img-responsive img-center" src="/images/join-the-crew.png" alt="">
                <h2><%- __('Join the Crew') %></h2>
                <p>Bootlegger uses graphic overlays and real-time coordination so you can shoot great video. Download the app, join a shoot and get creative.</p>
            </div>
            <div class="col-sm-4 highlights-column">
                <img class="img-center" src="/images/directors-chair.png" alt="">
                <h2><%- __('A Personal Director') %></h2>
                <p>Even first-time film-makers can plan complex video productions with Bootlegger’s easy-to-use Shoot Designer. Let Bootlegger direct your crew, collect your footage and organise your editing with rich metadata.</p>
            </div>
            <div class="col-sm-4 highlights-column">
                <img class="img-responsive img-center" src="/images/production-control.png" alt="">
                <h2><%- __('Production Control') %></h2>
                <p>You control everything from who’s in your crew to exactly what they’re asked to shoot. Use genre templates or create your own projects to help the crew collect what you need.</p>
            </div>

        </div>

    </div>

    <!-- Timeline -->
    <div id="timeline-container">

        <div class="container">

            <h2>How it Works</h2>

            <div class="fixed-label animated" id="producer-label"><i class="fa fa-circle-o"></i>Producer</div>
            <div class="fixed-label animated" id="crew-label">Crew<i class="fa fa-circle-o"></i></div>

                <ul class="timeline">
                    <li class="producer-li">
                        <div class="timeline-image">
                            <i class="animated fadeIn fa fa-calendar fa-fw fa-4x"></i>
                        </div>

                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Make a Shoot</h4>
                            </div>

                            <div class="timeline-body">
                                <p>Plan your shoot quickly and easily using our off-the-shelf templates or customise them to produce your own intricate production. Invite your friends or make it open to everyone to participate in.</p>
                            </div>
                        </div>
                    </li>

                    <li class="timeline-inverted crew-li">
                        <div class="timeline-image">
                            <i class="animated fadeIn fa fa-check-square-o fa-fw fa-4x"></i>
                        </div>

                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Sign up to a Shoot</h4>
                            </div>

                            <div class="timeline-body">
                                <p>The Bootlegger app is a gateway to video shoots around the world. Sign in to become part of a crew and contribute to exciting projects both locally and around the world.</p>
                            </div>
                        </div>
                    </li>

                    <li class="producer-li">
                        <div class="timeline-image">
                            <i class="animated fadeIn fa fa-desktop fa-fw fa-4x"></i>
                        </div>

                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Monitor Live</h4>
                            </div>

                            <div class="timeline-body">
                                <p>Once started, you can watch your shoot unfold in real time through the Bootlegger website. See the location of your crew and get detailed metadata on exactly what they’re shooting.</p>
                            </div>
                        </div>
                    </li>

                    <li class="timeline-inverted crew-li">
                        <div class="timeline-image">
                            <i class="animated fadeIn fa fa-graduation-cap fa-fw fa-4x"></i>
                        </div>

                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Learn Great Skills</h4>
                            </div>

                            <div class="timeline-body">
                                <p>No prior filming experience required! Follow Bootlegger’s onscreen hints, countdowns and detailed shot overlays to produce professional looking footage from your own mobile device.</p>
                            </div>
                        </div>
                    </li>

                    <li class="timeline-inverted crew-li">
                        <div class="timeline-image">
                            <i class="animated fadeIn fa fa-share-alt fa-fw fa-4x"></i>
                        </div>

                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Share Your Creativity</h4>
                            </div>

                            <div class="timeline-body">
                                <p>Hit upload to share your footage with the producer for editing once you have a WiFi connection. The clips you upload are tied to your account, meaning that you’ll get credit for what you shoot.</p>
                            </div>
                        </div>
                    </li>

                    <li class="producer-li">
                        <div class="timeline-image">
                            <i class="animated fadeIn fa fa-pencil fa-fw fa-4x"></i>
                        </div>

                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Collect and Edit</h4>
                            </div>

                            <div class="timeline-body">
                                <p>Collect footage tagged with all the information you need to edit, including crew member, location, subject and shot type. Browse and watch the clips via the Bootlegger website, making quick and easy micro-edits or discarding unwanted footage as you go.</p>
                            </div>
                        </div>
                    </li>

                    <li class="producer-li">
                        <div class="timeline-image">
                            <i class="animated fadeIn fa fa-upload fa-fw fa-4x"></i>
                        </div>

                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Publish</h4>
                            </div>

                            <div class="timeline-body">
                                <p>Download your clips and edit using the software package of your choice. You can export your project to standard Adobe and Apple formats, making it even easier to share your film with the world. Easily credit those who helped make your film.</p>
                            </div>
                        </div>
                    </li>

                    <li class="timeline-inverted crew-li">
                        <div class="timeline-image">
                            <i class="animated fadeIn fa fa-film fa-fw fa-4x"></i>
                        </div>

                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Watch the Film</h4>
                            </div>

                            <div class="timeline-body">
                                <p>Sit back and enjoy the end result! See your name in the credits alongside your teammates and share the awesome film you helped create.</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <h4><a href="/howtobootleg" class="animated pulse mylink">Find Out More <i class="fa fa-chevron-right"></i></a></h4>
        </div>

        <!-- Footer -->
        <div id="footer">
            <div class="container">
                <div id="recent-shoots">

                    <h2>Recent Shoots Using Bootlegger</h2>

                    <div class="col-sm-4 recent-shoot-column">
                        <a class="recent-shoot-link" href="//www.youtube.com/embed/3PRQWs2T8GU?rel=0&hd=1" target="_blank">
                            <div class="thumbnail-wrapper">
                                <img class="img-responsive img-center" src="/images/videos/thumbnail/mouses-bloodlust.jpg" alt="">
                                <h4>Mouses: Bloodlust</h4>
                                <i class="fa fa-play-circle"></i>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-4 recent-shoot-column">
                        <a class="recent-shoot-link" href="//www.youtube.com/embed/904VHPMzimI?rel=0&hd=1" target="_blank">
                            <div class="thumbnail-wrapper">
                                <img class="img-responsive img-center" src="/images/videos/thumbnail/loudest-whisper.jpg" alt="">
                                <h4>Loudest Whisper</h4>
                                <i class="fa fa-play-circle"></i>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-4 recent-shoot-column">
                        <a class="recent-shoot-link" href="//www.youtube.com/embed/m8OnPzf6dZo?rel=0&hd=1" target="_blank">
                            <div class="thumbnail-wrapper">
                                <img class="img-responsive img-center" src="/images/videos/thumbnail/great-north-run.jpg" alt="">
                                <h4>Great North Run</h4>
                                <i class="fa fa-play-circle"></i>
                            </div>
                        </a>
                    </div>

                    <div class="clearfix"></div>

                </div>

                <div id="sub-footer">

                    <div class="col-lg-12 footer-links">
                        
                        <div class="pull-left">
                        <!--<a href="#lang" data-toggle="popover" data-placement="top" data-html="true" data-content="<ul class='locale-selector'><% _.each(_.without(sails.config.i18n.locales,req.getLocale()),function(l){ %><li> <a href='/auth/locale/<%- l %>'><%- __(l) %> <div style='display:inline-block;float:right;' class='flag flag-<%- l %>' /></div> </a> </li><% }) %></ul>" data-title="<%- __('Select Language') %>">
                            <div style="display:inline-block;margin-top: 5px;margin-right: 8px;" class="flag flag-<%- req.getLocale() %>" /></div>
                        </a>-->
                        <p class="visible-xs-block visible-sm-inline-block visible-md-inline-block visible-lg-inline-block">&copy; Bootlegger <%- new Date().getFullYear() %></p>
                            
                            <span class="visible-sm-inline visible-md-inline visible-lg-inline">|</span>
                            
                            <a class="visible-xs-block visible-sm-inline-block visible-md-inline-block visible-lg-inline-block" href="/privacy">Privacy Policy</a>
                            <span class="visible-sm-inline visible-md-inline visible-lg-inline">|</span>
                            <a class="visible-xs-block visible-sm-inline-block visible-md-inline-block visible-lg-inline-block" href="/terms">Terms</a>
                            <span class="visible-sm-inline visible-md-inline visible-lg-inline">|</span>
                        <a class="visible-xs-block visible-sm-inline-block visible-md-inline-block visible-lg-inline-block" href="/platform">The Bootlegger Platform</a>
                        <span class="visible-sm-inline visible-md-inline visible-lg-inline">|</span>
                        <!--<a class="visible-xs-block visible-sm-inline-block visible-md-inline-block visible-lg-inline-block" href="http://github.com/digitalinteraction/bootlegger-server">Bootlegger on GitHub</a>-->
                        </div>
                        <ul>
                            <li>
                                <a href="https://twitter.com/BootleggerTV">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li style="margin-left:5px;">
                                <a href="https://www.youtube.com/channel/UC5ewRMUdGCR3BHaHrKo3RSg">
                                    <i class="fa fa-youtube"></i>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="clearfix"></div>

                </div>

            </div>

        </div>

    </div>

    <!-- Youtube Modal -->
    <div id="background-overlay">

        <div id="close-modal-button">
            <i class="fa fa-times fa-2x"></i>
        </div>

        <div class="youtube-modal animated">
            <div class="videoWrapper">
                <iframe id="modal-iframe" width="560" height="349" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>

    </div>

    <!-- jQuery -->
    <!--<script src="/static/js/dependencies/2jquery-2.0.3.min.js"></script>-->

    <!-- Bootstrap Core JavaScript -->
    <!--<script src="/static/js/bootstrap.min.js"></script>-->
<script>
$(function()
{
   // coverVid($('.covervid-video'),1920,1080);
  $('.covervid-video').fadeIn(1000);

});
coverVid(document.querySelector('.covervid-video'), 1920, 1080);
</script>
</body>

</html>
